venv/
models/
dataset/
metrics_of_models/model_metrics_small.csv
metrics_of_models/model_metrics_medium.csv
metrics_of_models/model_metrics_large.csv
VID_370.MOV
/home/sefas/Auto_driving_car/runs
post_process/02005.png
post_process/02039.png
post_process/02074.png
post_process/02114.png
